@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.uni-marg-bot-huge {
  margin-bottom: 8rem; }

.uni-marg-bot-big {
  margin-bottom: 6rem; }

.uni-marg-bot-mid {
  margin-bottom: 4rem; }

.uni-marg-bot-small {
  margin-bottom: 2rem; }

.uni-marg-bot-ultra-small {
  margin-bottom: 1rem; }

.uni-marg-top-huge {
  margin-top: 8rem; }

.uni-marg-top-big {
  margin-top: 6rem; }

.uni-marg-top-mid {
  margin-top: 4rem; }

.uni-marg-top-small {
  margin-top: 2rem; }

.uni-marg-top-ultra-small {
  margin-top: 1rem; }

.content-box {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center; }

.uni-bot-gap-sm:not(:last-child) {
  margin-bottom: 2rem; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(9deg); }
  50% {
    transform: rotate(-9deg); }
  75% {
    transform: rotate(0deg), scale(1.1); }
  100% {
    transform: rotate(0deg), scale(1); } }

@keyframes entryLeftAnim {
  0% {
    transform: translate(-10rem);
    opacity: 0; }
  80% {
    opacity: 0.7; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes entryRightAnim {
  0% {
    transform: translate(10rem);
    opacity: 0; }
  80% {
    opacity: 0.7; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes entryfromBotAnim {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  80% {
    opacity: 0.7; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.web-text {
  color: #495057; }
  .web-text__h1 {
    font-size: 5rem;
    padding: 0; }
  .web-text__h2 {
    font-size: 3.5rem;
    padding: 0; }
  .web-text__h3 {
    font-size: 3rem;
    padding: 0; }
  .web-text__h4 {
    font-size: 1.7rem;
    padding: 0; }
  .web-text__p {
    padding: 0; }
  .web-text__prot--100 {
    font-weight: 100; }
  .web-text__prot--200 {
    font-weight: 200; }
  .web-text__prot--300 {
    font-weight: 300; }
  .web-text__prot--500 {
    font-weight: 500; }
  .web-text__prot--700 {
    font-weight: 700; }
  .web-text--anim-fr-left {
    animation: entryLeftAnim 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards; }
  .web-text--anim-fr-right {
    animation: entryRightAnim 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards; }
  .web-text__col--blue {
    color: #1194a5; }

.uni-marg-bot-huge {
  margin-bottom: 8rem; }

.uni-marg-bot-big {
  margin-bottom: 6rem; }

.uni-marg-bot-mid {
  margin-bottom: 4rem; }

.uni-marg-bot-small {
  margin-bottom: 2rem; }

.uni-marg-bot-ultra-small {
  margin-bottom: 1rem; }

.uni-marg-top-huge {
  margin-top: 8rem; }

.uni-marg-top-big {
  margin-top: 6rem; }

.uni-marg-top-mid {
  margin-top: 4rem; }

.uni-marg-top-small {
  margin-top: 2rem; }

.uni-marg-top-ultra-small {
  margin-top: 1rem; }

.content-box {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center; }

.uni-bot-gap-sm:not(:last-child) {
  margin-bottom: 2rem; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; }

.header {
  font-size: 1.6rem;
  padding: 10rem 0rem; }

.about-me {
  box-sizing: content-box;
  padding: 10rem 10rem;
  background-color: #151617; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

header {
  width: 100%;
  height: 80vh;
  position: relative; }

.header {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  position: absolute;
  top: 0;
  z-index: 10;
  display: grid;
  place-items: center; }
  .header__content {
    z-index: 16;
    background: transparent;
    display: block;
    text-align: center;
    color: #212529;
    text-shadow: 0 4px 10px rgba(31, 31, 31, 0.15); }
    .header__content > h1,
    .header__content h2 {
      line-height: 7rem; }
  .header__background {
    background: linear-gradient(to right, #f1f3f5, transparent), url("/res/img/header_back.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 0 100%);
    top: 0;
    left: 0;
    z-index: 5;
    overflow: hidden;
    background-color: #f8f9fa; }
    .header__background::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(248, 249, 250, 0.9); }

.nav {
  width: 100%;
  padding: 2.5rem 10rem;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 1px 29px 0px;
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa; }
  .nav__collection {
    padding: 0 2rem;
    display: flex;
    align-items: center; }
    .nav__collection--list {
      justify-content: space-around;
      padding: 1rem 2rem; }
  .nav__btn {
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1.5rem;
    color: #212529; }
    .nav__btn::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 0.3rem;
      background-color: #3bc9db;
      bottom: -0.5rem;
      transition: width 0.3s cubic-bezier(0.87, 0, 0.13, 1); }
    .nav__btn:hover::before {
      width: 100%; }

.about-me {
  box-sizing: content-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 10rem 0;
  background-color: #f8f9fa; }

.btn:link, .btn:visited {
  text-decoration: none; }

.btn--anim {
  animation: entryfromBotAnim 1s cubic-bezier(0.65, 0, 0.35, 1) forwards; }

.btn-header {
  font-weight: 500;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  background-color: #F5F7F8;
  color: #4f4b4c;
  padding: 0.5rem 2rem;
  transition: background-color ease-in-out .3s, color ease-in-out .3s;
  box-shadow: 0rem 0rem 2rem rgba(79, 75, 76, 0.5);
  border: 2px solid #F5F7F8;
  position: relative; }
  .btn-header::after {
    position: absolute;
    content: '';
    top: -1rem;
    right: -1rem;
    width: 3rem;
    height: 10px; }
  .btn-header:hover, .btn-header:active {
    background-color: transparent;
    border: 2px solid #F5F7F8;
    color: #F5F7F8; }

.btn__blue {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.25rem 2rem;
  border: 0;
  border-radius: 5px;
  background-color: #1194a5;
  color: #f8f9fa;
  box-shadow: 0 4px 10px rgba(31, 31, 31, 0.2); }

.card {
  width: 40rem;
  height: 55rem;
  background-color: #1f1f1f;
  margin-bottom: 5rem;
  overflow: hidden;
  border-radius: 5px; }
