@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.uni-marg-bot-huge {
  margin-bottom: 8rem; }

.uni-marg-bot-big {
  margin-bottom: 6rem; }

.uni-marg-bot-mid {
  margin-bottom: 4rem; }

.uni-marg-bot-small {
  margin-bottom: 2rem; }

.uni-marg-bot-ultra-small {
  margin-bottom: 1rem; }

.uni-marg-top-huge {
  margin-top: 8rem; }

.uni-marg-top-big {
  margin-top: 6rem; }

.uni-marg-top-mid {
  margin-top: 4rem; }

.uni-marg-top-small {
  margin-top: 2rem; }

.uni-marg-top-ultra-small {
  margin-top: 1rem; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(9deg); }
  50% {
    transform: rotate(-9deg); }
  75% {
    transform: rotate(0deg), scale(1.1); }
  100% {
    transform: rotate(0deg), scale(1); } }

@keyframes entryLeftAnim {
  0% {
    transform: translate(-10rem);
    opacity: 0; }
  80% {
    opacity: 0.7; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes entryRightAnim {
  0% {
    transform: translate(10rem);
    opacity: 0; }
  80% {
    opacity: 0.7; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes entryfromBotAnim {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  80% {
    opacity: 0.7; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.heading__h2 {
  font-size: 6rem;
  color: #F5F7F8;
  animation: entryLeftAnim 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  padding: 0; }

.heading__h3 {
  text-align: center;
  font-size: 2.5rem;
  color: #F5F7F8;
  animation: entryRightAnim 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  line-height: 2rem; }
  .heading__h3--dev {
    color: #ffd753; }

.uni-marg-bot-huge {
  margin-bottom: 8rem; }

.uni-marg-bot-big {
  margin-bottom: 6rem; }

.uni-marg-bot-mid {
  margin-bottom: 4rem; }

.uni-marg-bot-small {
  margin-bottom: 2rem; }

.uni-marg-bot-ultra-small {
  margin-bottom: 1rem; }

.uni-marg-top-huge {
  margin-top: 8rem; }

.uni-marg-top-big {
  margin-top: 6rem; }

.uni-marg-top-mid {
  margin-top: 4rem; }

.uni-marg-top-small {
  margin-top: 2rem; }

.uni-marg-top-ultra-small {
  margin-top: 1rem; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; }

.header {
  font-size: 1.6rem;
  padding: 10rem 0rem; }

.about-me {
  width: 100%;
  height: 20vh;
  background-color: #151617; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.header {
  height: 95vh;
  background-color: #151617;
  position: relative; }
  .header__background {
    background-image: linear-gradient(to top, #1e1f21, #151617);
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 0 100%);
    top: 0;
    left: 0;
    filter: blur(3px); }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__btn-box {
    text-align: center;
    padding: 2rem 0; }

.nav {
  width: 8rem;
  height: 8rem;
  background: transparent;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  margin: 2rem 2rem;
  background-color: #1f1f1f;
  border-radius: 50%; }
  .nav__btn {
    display: none; }
  .nav__label {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center; }

.menu-line {
  width: 60%;
  height: 4px;
  background-color: #F5F7F8;
  position: relative;
  transition: transform .1s ease-in; }
  .menu-line::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #baf6fd;
    transform: translateY(1.2rem);
    transition: transform .1s ease-in; }
  .menu-line::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ff5353;
    transform: translateY(-1.2rem);
    transition: transform .1s ease-in; }

.nav__btn:checked ~ .nav__label .menu-line {
  height: 0; }

.nav__btn:checked ~ .nav__label .menu-line::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: rotate(45deg);
  opacity: 1; }

.nav__btn:checked ~ .nav__label .menu-line::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: rotate(-45deg);
  opacity: 1; }

.btn:link, .btn:visited {
  text-decoration: none; }

.btn--anim {
  animation: entryfromBotAnim 1s cubic-bezier(0.65, 0, 0.35, 1) forwards; }

.btn-header {
  font-weight: 500;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  background-color: #F5F7F8;
  color: #4f4b4c;
  padding: 0.5rem 2rem;
  transition: background-color ease-in-out .3s, color ease-in-out .3s;
  box-shadow: 0rem 0rem 2rem rgba(79, 75, 76, 0.5);
  border: 2px solid #F5F7F8;
  position: relative; }
  .btn-header::after {
    position: absolute;
    content: '';
    top: -1rem;
    right: -1rem;
    width: 3rem;
    height: 10px; }
  .btn-header:hover, .btn-header:active {
    background-color: transparent;
    border: 2px solid #F5F7F8;
    color: #F5F7F8; }
