.about-me {
    box-sizing: content-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 10rem 0;
    background-color: $col-white-lig;
}