.btn {

    &:link,
    &:visited {
        text-decoration: none;
    }

    &--anim {
        animation: entryfromBotAnim 1s cubic-bezier(0.65, 0, 0.35, 1)forwards;
    }

}

.btn-header {
    font-weight: 500;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    background-color: $main-white;
    color: $main-gray;
    padding: 0.5rem 2rem;
    transition: background-color ease-in-out .3s, color ease-in-out .3s;
    box-shadow: 0rem 0rem 2rem rgba($main-gray, 0.5);
    border: 2px solid $main-white;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        top: -1rem;
        right: -1rem;
        width: 3rem;
        height: 10px;
    }

    &:hover,
    &:active {
        background-color: transparent;
        border: 2px solid $main-white;
        color: $main-white;

    }
}

.btn__blue {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.25rem 2rem;
    border: 0;
    border-radius: 5px;
    background-color: $col-cyan-dark;
    color: $col-white-lig;
    box-shadow: 0 4px 10px rgba($color-gray-1, 0.2);

}