

.btn{
    &:link,
    &:visited{
        color: $main-white;
        text-decoration: none;
    }

}
.btn-header{
    font-weight: 500;
    display: inline-block;
    text-align: center;
    color: $main-white;
    border-radius: 3px;
    border: 2px solid $main-white;
    padding: 0.5rem 2rem;
    transition: background-color ease-in-out .3s, color ease-in-out .3s ;

    &:hover,
    &:active{
        background-color: $main-white;
        color: $main-gray;
    }
}