@keyframes shake {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(9deg);
    }
    50%{
        transform: rotate(-9deg);
    }
    75%{
        transform: rotate(0deg), scale(1.1);
    }
    100%{
        transform: rotate(0deg), scale(1);
    }
}