@keyframes shake {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(9deg);
    }
    50%{
        transform: rotate(-9deg);
    }
    75%{
        transform: rotate(0deg), scale(1.1);
    }
    100%{
        transform: rotate(0deg), scale(1);
    }
}

@keyframes entryAnim {
    0%{
        transform: translate(-10rem);
        opacity: 0;
    }
    80%{
        opacity: 0.7;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes exitAnim {
    0%{
        transform: translate(10rem);
        opacity: 0;
    }
    80%{
        opacity: 0.7;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
