$main-dark: #151617;
$main-gray: #4f4b4c;
$main-white: #F5F7F8;

$main-red: #fc8181; 
$main-yellow: #ffd753; 
$main-purple: #a353ff; 
$main-blue: #baf6fd;
$main-green: #bdfdba;

$main-font-size: 1.6rem;

$color-dark-1: #1a1a1a;
$color-gray-1: #1f1f1f;
$color-black-1: #161616;
$color-white-1: #ebeded;

