$main-dark: #151617;
$main-gray: #4f4b4c;
$main-white: #F5F7F8;

$main-red: #fc8181;
$main-yellow: #ffd753;
$main-purple: #a353ff;
$main-blue: #baf6fd;
$main-green: #bdfdba;

$main-font-size: 1.6rem;

$color-dark-1: #1a1a1a;
$color-gray-1: #1f1f1f;
$color-black-1: #161616;
$color-white-1: #ebeded;

$col-white-lig:#f8f9fa;
$col-white-mid: #f1f3f5;
$col-white-dark: #f1f3f5;

$col-black-lig: #dee2e6;
$col-black-mid: #adb5bd;
$col-black-dark: #495057;
$col-black-darker: #212529;

$col-cyan-lig: #99e9f2;
$col-cyan-mid: #3bc9db;
$col-cyan-dark: #1194a5;
$col-cyan-darker: #15aabf;

$trn-easeoutQuint: cubic-bezier(0.22, 1, 0.36, 1);